extend layout

block content
  .subcontent.container
    .row.justify-content-center
      .col-lg-7.col-md-7.col-sm-12
        strong Implementation
        p(style='padding-left: 1.5rem;') Starting with the general idea (based on the author's group project of the CMPT470 course at SFU), the author redesigned, developed and implemented all features to serve his needs.
        
        strong Technology
        ul
          li
            a(href='https://expressjs.com') Express JS
          li
            a(href='https://bootstrapstudio.io') BootstrapStudio (student licence)
          li
            a(href='https://www.npmjs.com/package/passport-spotify') Passport Spotify
          li
            a(href='http://docs.sequelizejs.com') Postgres with Sequelize ORM
          li
            a(href='https://www.npmjs.com/package/spotify-web-api-node') Spotify-web-api-node
          li
            a(href='https://socket.io') Socket.io
          li
            a(href='https://github.com') Github (student package)
          li
            a(href='https://heroku.com') Heroku

        strong Photos
        p(style='padding-left: 1.5rem;') The photos for rooms are downloaded from 
          a(href='https://www.pexels.com/') pexels.com
  

  
