extend layout

block content
  main.page.guide-page
  section.portfolio-block.guide
    .container
      .heading
        p A good application will not need documents. Just kidding, please comeback later.

  
