doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1 maximum-scale=1')
    title= title
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css' integrity='sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS' crossorigin='anonymous')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.1/css/all.css' integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr' crossorigin='anonymous')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    link(rel='stylesheet' href='/stylesheets/styles.min.css')
    
  body
    block header
      nav.navbar.navbar-expand-lg.navbar-dark.bg-success.fixed-top
        a.navbar-brand(href='/') Sparty
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item.active
              a.nav-link(href='/')
                | Home 
                span.sr-only (current)
            li.nav-item
              a.nav-link(href='/api/guide') Help
            li.nav-item.dropdown
              if (loggedIn)
                a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                  | My Room
                .dropdown-menu(aria-labelledby='navbarDropdown')
                  a.dropdown-item(href='/api/room/create') Create Room
                  if (isOwner)
                    a.dropdown-item(href='/api/room/' + room.id + '/update') Edit Room
                    a.dropdown-item(href='/api/room/' + room.id + '/delete') Delete Room
                  .dropdown-divider
                  a.dropdown-item(href='/api/rooms') My Rooms
            li.nav-item
              if (!loggedIn)
                a#login.nav-link Login
              else
                a.nav-link(href='/api/auth/logout') Logout

      block content
      
      block footer
        hr
        footer.container.d-flex.align-content-center
          p.d-flex.align-items-center 
            <i class="far fa-copyright"></i> TD-2019
          a.ml-auto(href="https://www.linkedin.com/in/tudatnguyen" target="_blank")
            <i class="fab fa-linkedin-in"></i>
          a(href="https://tudatn.github.io" target="_blank")
            <i class="fab fa-github"></i>
      script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js' integrity='sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut' crossorigin='anonymous')
      script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js' integrity='sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k' crossorigin='anonymous')
      script(src='/scripts/script.min.js')

          
