extend layout

block content
  .content.container
    h4.text-center= title
    .row.justify-content-center.align-items-center
      .col-md-5
        if room
          img#avatar.card-img-top(src=room.avatar alt='Card Image')
        else
          .image-slot
            img#avatar.card-img-top(src='' alt='Card Image')
      .col-md-6.flex-direction-column
        form(method='POST' action='')
          .form-group
            label Room Avatar
            input#room_avatar.gap10.form-control(type='text', placeholder='photo url' name='room_avatar' value=(undefined===room ? '' : room.avatar))
          .form-group
            label Room Name
            input#room_name.form-control(type='text', placeholder='room name' name='room_name' require='true' value=(undefined===room ? '' : room.name))
          .form-group
            label Room Key
            input#room_key.form-control(type='password', placeholder='room key' name='room_key' require='true' value=(undefined===room ? '' : room.key))
          .form-group
          label Description
          if room
            input#room_description.form-control(type='textarea', placeholder='brief description for your room' name='room_description' value!=room.description)
          else
            input#room_description.form-control(type='textarea', placeholder='brief description for your room' name='room_description' value='')
          //- .form-group
          //-   label Expired
          //-   input#room_expired.form-control(type='datetime-local', placeholder='yyyy-mm-dd' name='room_expired' value=(undefined===room ? '' : room.expired))
          
          .form-group.gap10
            .form-check
              if room && !room.public
                input#room_type.form-check-input(type='checkbox' checked name='room_type' value='true')
              else
                input#room_type.form-check-input(type='checkbox' name='room_type' value='true')
              label.form-check-label(for='room_type') Private
          button.btn.btn-primary(type='submit') #{title}
    .col-md-6
      if errors 
        ul
          for error in errors
            li.text-danger!= error.msg
