extend layout

block content
  #content.subcontent.container
    #roomDetailContent.row.justify-content-center.text-center
      #welcome.col-lg-7.col-md-7.col-sm-12
        p You are in Room: #{room.name} with <span id='num_peope'></span> people.
      #currentSong.col-lg-7.col-md-7.col-sm-12

      if (isOwner)
        #playerController.col-lg-7.col-md-7.col-sm-12.text-center
          .btn-group(role='group')
            button#getCandidates.btn.btn-primary(type='button' data-toggle='modal' data-target='#topCandidates') Get top 10 songs
          <span> </span>
          .btn-group(role='group')
            button#start.btn.btn-primary.pull-right(type='button') Start the party
          
          #topCandidates.modal.fade(tabindex='-1' role='dialog' aria-labelledby='topCandidatesTitle' aria-hidden='true')
            .modal-dialog.modal-dialog-centered(role='document')
              .modal-content
                .modal-header
                  h5#topCandidatesTitle.modal-title Top songs
                  button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                .modal-footer
                  button.btn.btn-secondary(type='button' data-dismiss='modal') Close

          #controller.btn-group.mx-auto(role='group', style='display:none')
            button#resume.btn.btn-primary.pull-right(type='button')
              i.fa.fa-play
            button#pause.btn.btn-primary.pull-right(type='button')
              i.fa.fa-pause
            button#skip.btn.btn-primary.pull-right(type='button')
              i.fa.fa-step-forward

      #searchSong.col-lg-7.col-md-7.col-sm-12
        .search-container
          input#song_search.search-input(type='text' name='song_search' placeholder='Search song')
        #searchResult.col-12(style='display:none;')


      #candidates.col-lg-7.col-md-7.col-sm-12
  
  script(src='/socket.io/socket.io.js')
  script(src='/scripts/room.js')
  script.
    var roomId = #{room.id}
  if (isOwner)
    script(src='https://sdk.scdn.co/spotify-player.js')
    script(src='/scripts/spotify_sdk.js')
  
