extend layout

block content
  .content.container
    .row.justify-content-center
      p.strong #{room.name} (
        i#num_peope
        i 
        i.fas.fa-users )
    .row.justify-content-center
      .col-md-6
        #currentSong
            
    if (isOwner)
      .row.justify-content-center.gap10      
          .col-md-6
            #playerController.d-flex.justify-content-center
              .btn-group(role='group').mr-1
                button#getCandidates.btn.btn-success(type='button' data-toggle='modal' data-target='#topCandidates') Get top songs
              .btn-group(role='group').ml-1
                button#start.btn.btn-success.pull-right(type='button') Start the party
              #controller.btn-group.display-none(role='group')
                button#resume.btn.btn-success.pull-right(type='button')
                  i.fa.fa-play
                button#pause.btn.btn-success.pull-right(type='button')
                  i.fa.fa-pause
                button#skip.btn.btn-success.pull-right(type='button')
                  i.fa.fa-step-forward    
      
            #topCandidates.modal.fade(tabindex='-1' role='dialog' aria-labelledby='topCandidatesTitle' aria-hidden='true')
              .modal-dialog.modal-dialog-centered(role='document')
                .modal-content
                  .modal-header
                    h5#topCandidatesTitle.modal-title Top songs
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                      span(aria-hidden='true') &times;
                  .modal-body
                  .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button#addAll.btn.btn-secondary(type='button') Add All

    .row.justify-content-center.gap20
      .col-md-6
        input#song_search.form-control(type='text' name='song_search' placeholder="Search song")
    .row.justify-content-center
      .col-md-6
        .container#searchResult.border.border-success.rounded.gap10(style='display:none;')
        #candidates.gap20
  
  script(src='/socket.io/socket.io.js')
  script(src='/scripts/room.js')
  script.
    var roomId = #{room.id}
  if (isOwner)
    script(src='https://sdk.scdn.co/spotify-player.js')
    script(src='/scripts/spotify_sdk.js')
  
