extend layout

block content
  main.page.lanidng-page
    div
    section.portfolio-block.block-intro
      #contact.row
        .col-md-12
          h1 Create Room
        .col-md-6
          form
            .form-group
              label Room Name
              input.form-control(type='text')
            .form-group
              label Room Key
              input.form-control(type='text')
            .form-group
              label Room Avatar
              input.form-control(type='text')
            .form-group
              label Description
              textarea.form-control
            .form-group
              .form-check
                input#formCheck-1.form-check-input(type='checkbox')
                label.form-check-label(for='formCheck-1') Private
          button.btn.btn-light(type='button') Create Room
        .col-md-6
          img#pallo.img-thumbnail.img-fluid(src='https://images.pexels.com/photos/342520/pexels-photo-342520.jpeg')

    if errors 
      ul
        for error in errors
          li!= error.msg
