extend layout

block content
  #content.subcontent.container
    #roomDetailContent.row.justify-content-center.text-center.flex-direction-column
      .col-md-12
        h3= title
      .col-md-6
        form(method='POST' action='')
          .form-group
            label Room Name
            input#room_name.form-control(type='text', placeholder='room name' name='room_name' require='true' value=(undefined===room ? '' : room.name))
          .form-group
            label Room Key
            input#room_key.form-control(type='text', placeholder='room key' name='room_key' require='true' value=(undefined===room ? '' : room.key))
          //- .form-group
          //-   label Room Avatar
          //-   input#room_avatar.form-control(type='text', placeholder='photo url' name='room_avatar' value=(undefined===room ? '' : room.avatar))
          .form-group
          label Description
          if room
            input#room_description.form-control(type='textarea', placeholder='brief description for your room' name='room_description' value!=room.description)
          else
            input#room_description.form-control(type='textarea', placeholder='brief description for your room' name='room_description' value='')
          //- .form-group
          //-   label Expired
          //-   input#room_expired.form-control(type='datetime-local', placeholder='yyyy-mm-dd' name='room_expired' value=(undefined===room ? '' : room.expired))

          .form-group
            .form-check
              if room && !room.public
                input#room_type.form-check-input(type='checkbox' checked name='room_type' value='true')
              else
                input#room_type.form-check-input(type='checkbox' name='room_type' value='true')
              label.form-check-label(for='room_type') Private
          button.btn.btn-primary(type='submit') #{title}
    .col-md-6
      if errors 
        ul
          for error in errors
            li.text-danger!= error.msg
