extends layout

block content
  div.container
    div(class="row")
      each room in rooms
        div(class="col-sm-3 mb-4")
            a(href=room.getUrl() style="text-decoration: none;")
              div(class="card text-white bg-primary")
                img(class="card-img-top" src= room.avatar alt="Card image cap")
                div(class="card-body") #{room.name}
    
    if (loggedIn)
      div(class="row")
          div(class="col-sm")
              a(type = 'button' class = 'btn btn-light' href='/api/room/create')
                  span(class="fa fa-plus-circle")
                  <span> Create Room</span>

  //- a.button.btn.btn-primary(href='/api/room/create') Create Room
  //- script(src='/scripts/room.js')
